{
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "rules": {
    "vue/html-closing-bracket-newline": "error",
    "vue/html-closing-bracket-spacing": "error",
    "vue/max-attributes-per-line": "off",
    "vue/prop-name-casing": "error",
    "vue/script-indent": {"script-indent": ["error", 2, {"switchCase": 0}]}
  }
}
