$headerFont: 'Noto Serif', Georgia, serif;
$copyFont: 'Noto Serif', Georgia, serif;
$gameValueFont: 'Noto Serif', Georgia, serif;

$standardFontColor: #1c1c1c;
$linkColor: #6666ff;
$linkHoverColor: #3333ff;

$gridBorderColor: #1c1c1c;
$gridOpenColor: #fdfdfd;
$gridImpossibleColor: darken($gridOpenColor, 50%);
$gridPlayerColor: #ddffcc;
$gridOpponentColor: #ffddcc;

$sqrt2: 1.4142135624;
