@import url(http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css);

html {
	background-color: inherit;
}

body {
	background-color: #1c1c1c;
	font: 93% "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #f8f8f8;
	background-image: url(../images/bground.png);
}

#content {
	width: 750px;
	margin: auto;
	background-color: #1c1c1c;
}

#pregame {
	background-color: #323232;
	width: 28em;
	color: #ddd;
	margin: 0 auto .5em;
	padding: .5em;
}

#endgame {
	font-size: 2em;
	background-color: #323232;
	width: 15em;
	margin: 0 auto .5em;
	padding: .5em;
}

a {
	color: #8ea3fc;
	text-decoration: none;
}

strong {
	font-weight: bold;
	font-size: 110%;
}

q:before {
	font-family: Georgia, serif;
	content: "\201C";
	padding-right: 0.1em;
}

q:after {
	content: "\201D";
	padding-left: 0.1em;
}

/* @group Game Board */

#board {
	background-color: #000;
	position: relative;
	width: 309px;
	height: 309px;
	margin: auto auto 10px;
}

.cluster {
	position: absolute;
}

#cluster1 {
	top: 7px;
	left: 7px;
}

#cluster2 {
	top: 7px;
	left: 158px;
}

#cluster3 {
	top: 158px;
	left: 7px;
}

#cluster4 {
	top: 158px;
	left: 158px;
}

.square {
	width: 70px;
	height: 70px;
	position: absolute;
}

.clusters_first {
	display: block;
}

.clusters_second {
	display: block;
	left: 74px;
}

.clusters_third {
	display: block;
	top: 74px;
}

.clusters_fourth {
	display: block;
	left: 74px;
	top: 74px;
}

.open {
	background-color: #fdcf90;
}

.my {
	background-color: #73ff77;
}

.comp {
	background-color: #ff736a;
}

.number {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.hidden {
	display: none;
}

/* @group Chooser */

.chooser {
	position: absolute;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: auto;
	color: #1c1c1c;
}

.green {
	background-color: #6ff773;
	border: 1px solid #9cbf94;
	cursor: pointer;
}

.red {
	background-color: #ff736a;
	border: 1px solid #c39b9b;
}

.one {
	display: block;
	left: 8px;
	top: 8px;
}

.two {
	display: block;
	left: 35px;
	top: 8px;
}

.three {
	display: block;
	left: 8px;
	top: 35px;
}

.four {
	display: block;
	left: 35px;
	top: 35px;
}

/* @end */

/* @group Legend */

#legend {
	width: 500px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;
}

.key {
	color: #1c1c1c;
	padding: 5px;
	border: 2px solid #000;
	display: inline;
	font-size: .8em;
}

/* @end */

/* @end */

#postgame {
	text-align: left;
	margin: auto;
	width: 28em;
	padding-bottom: 1em;
}

#postgame h1 {
	font: 200% Georgia, "Times New Roman", Times, serif;
	color: #fdcf90;
}

#postgame p {
	text-indent: 2em;
	line-height: 1.5em;
	margin: 1em;
}
